@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-secondary text-foreground;
    font-family: "Open Sans", sans-serif;
  }
}

  :root {
    --background: oklch(0.91 0.008 265);
    /* #1F2025 */
    --foreground: oklch(0.16 0.008 265);
    /* #FFFFFF */
    --card: oklch(0.98 0.003 265);
    /* #1F2025 */
    --card-foreground: oklch(0.16 0.008 265);
    /* #FFFFFF */
    --popover: oklch(1 0 0);
    /* #1F2025 */
    --popover-foreground: oklch(0.16 0.008 265);
    /* #2C46B1 */
    --primary: oklch(0.42 0.185 264);
    /* #FFFFFF */
    --primary-foreground: oklch(1 0 0);
    /* #E4E6EC */
    --secondary: oklch(0.91 0.008 265);
    /* #1F2025 */
    --secondary-foreground: oklch(0.16 0.008 265);
    /* #F9F9FB */
    --muted: oklch(0.98 0.003 265);
    /* #74798B */
    --muted-foreground: oklch(0.53 0.016 265);
    /* #E4E6EC */
    --accent: oklch(0.91 0.008 265);
    /* #4D505C */
    --accent-foreground: oklch(0.37 0.012 265);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);
    /* #CDCFD5 */
    --border: oklch(0.91 0.008 265);
    /* #E4E6EC */
    --input: oklch(0.91 0.008 265);
    /* #2C46B1 */
    --ring: oklch(0.42 0.185 264);
    --radius: 0.625rem;
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    /* #F9F9FB */
    --sidebar: oklch(0.98 0.003 265);
    /* #1F2025 */
    --sidebar-foreground: oklch(0.16 0.008 265);
    /* #2C46B1 */
    --sidebar-primary: oklch(0.42 0.185 264);
    /* #FFFFFF */
    --sidebar-primary-foreground: oklch(1 0 0);
    /* #E4E6EC */
    --sidebar-accent: oklch(0.91 0.008 265);
    /* #4D505C */
    --sidebar-accent-foreground: oklch(0.37 0.012 265);
    /* #CDCFD5 */
    --sidebar-border: oklch(0.84 0.008 265);
    /* #2C46B1 */
    --sidebar-ring: oklch(0.42 0.185 264);
  }

  .dark {
    /* #1F2025 */
    --background: oklch(0.16 0.008 265);
    /* #F9F9FB */
    --foreground: oklch(0.98 0.003 265);
    /* #4D505C */
    --card: oklch(0.37 0.012 265);
    /* #F9F9FB */
    --card-foreground: oklch(0.98 0.003 265);
    /* #4D505C */
    --popover: oklch(0.37 0.012 265);
    /* #F9F9FB */
    --popover-foreground: oklch(0.98 0.003 265);
    /* #E4E6EC */
    --primary: oklch(0.91 0.008 265);
    /* #1F2025 */
    --primary-foreground: oklch(0.16 0.008 265);
    /* #4D505C */
    --secondary: oklch(0.37 0.012 265);
    /* #F9F9FB */
    --secondary-foreground: oklch(0.98 0.003 265);
    /* #4D505C */
    --muted: oklch(0.37 0.012 265);
    /* #74798B */
    --muted-foreground: oklch(0.53 0.016 265);
    /* #4D505C */
    --accent: oklch(0.37 0.012 265);
    /* #F9F9FB */
    --accent-foreground: oklch(0.98 0.003 265);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    /* #74798B */
    --ring: oklch(0.53 0.016 265);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    /* #4D505C */
    --sidebar: oklch(0.37 0.012 265);
    /* #F9F9FB */
    --sidebar-foreground: oklch(0.98 0.003 265);
    /* #2C46B1 */
    --sidebar-primary: oklch(0.42 0.185 264);
    /* #FFFFFF */
    --sidebar-primary-foreground: oklch(1 0 0);
    /* #4D505C */
    --sidebar-accent: oklch(0.37 0.012 265);
    /* #E4E6EC */
    --sidebar-accent-foreground: oklch(0.91 0.008 265);
    --sidebar-border: oklch(1 0 0 / 10%);
    /* #74798B */
    --sidebar-ring: oklch(0.53 0.016 265);
  }


@theme inline {
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}